.node {
    width: 25px;
    height: 25px;
    border: 0.5px solid rgb(175, 216, 248);
    display: table-cell;
    border-collapse: collapse;
    overflow: hidden;
}

.node-start {
    background-color: red;
}
.node-finish {
    background-color: green;
}

.node-wall {
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
}